<h1>List your movies!</h1>
<h3>Choose your movies, put them in lists and create bookmarks!</h3>

<p>Welcome to List your movies!</p>

<div class="container">
  <a href="/lists" class="btn btn-scan" role="button" aria-pressed="true"><i class="fa-solid fa-clapperboard"></i>My Lists</a>
  <%# <a href="/search" class="btn btn-search" role="button" aria-pressed="true"><i class="fa-solid fa-magnifying-glass"></i> Recherche</a> %>
  <%# <a href="/products" class="btn btn-search" role="button" aria-pressed="true"><i class="fa-solid fa-indent"></i> Historique</a> %>
</div>
