.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
  margin-bottom: 20px;
}

.btn-flat:hover {
  background: white;
  color: #1BCB7F;
}

.btn-red {
  color: white;
  font-size: 14px;
  padding: 8px 24px;
  border-radius: 4px;
  background: #dd1e2e;
  transition: background 0.3s ease;
}

.btn-red:hover {
  background: white;
  color: #dd1e2e;
}

.btn-blue {
  color: white;
  padding: 8px 60px;
  border-radius: 4px;
  background: #59bce4;
  transition: background 0.3s ease;
  margin-bottom: 20px;
}

.btn-blue:hover {
  background: white;
  color: #59bce4;
}

.btn-blue2 {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #59bce4;
  transition: background 0.3s ease;
  margin-bottom: 20px;
}

.btn-blue2:hover {
  background: white;
  color: #59bce4;
}
