.footer-copyright {
  margin-top: auto;
  background: #7c7c7c;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.5);
}

.footer .fa-heart {
  color: #D23333;
  margin: 0px 3px;
}
