<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="form-login">
        <%= simple_form_for @review do |f| %>
          <strong><%= f.input :comment, as: :text, label: "Your comment:", placeholder: "Change your review here..." %></strong>
          <%= f.input :rating, as: :select, collection: (1..5), required: true, prompt: "What's your rating?", input_html: { data: { controller: "jquery-bar-rating" } } %>
          <%= f.button :submit, class: "btn btn-flat" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
